:host {
  padding: var(--space-4);
  display: block;
}
mat-card-header {
  margin-bottom: var(--space-2);
  mat-card-title {
    display: flex !important;
    align-items: center;
  }
}

mat-card-content {
  display: flex;
  gap: var(--space-2);
  mat-form-field {
    width: 100%;
  }
}

table {
  color: var(--color-text);
  &.mat-mdc-table,
  .mat-mdc-header-row,
  .mat-mdc-row {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  mat-chip {
    &[data-status='In Review'] {
      background-color: var(--color-review);
    }
    &[data-status='In Progress'] {
      background-color: var(--color-progress);
    }
    &[data-status='Backlog'] {
      background-color: var(--color-backlog);
    }
    &[data-status='Pending'] {
      background-color: var(--color-pending);
    }
    &[data-status='Done'] {
      background-color: var(--color-success);
    }

    &[data-status='Critical'] {
      background-color: var(--color-danger);
    }
    &[data-status='High'] {
      background-color: var(--color-review);
    }
    &[data-status='Medium'] {
      background-color: var(--color-accent);
    }
    &[data-status='Low'] {
      background-color: var(--color-success);
    }
  }
}

@media (width <= 425px) {
  .title-section {
    flex-direction: column;
    margin-bottom: var(--space-4);
  }
  mat-card-content {
    flex-direction: column;
  }
}
