:host {
  padding: var(--space-4);
  display: block;
}
.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1,
  p {
    color: var(--color-text);
  }
}
mat-card-header {
  margin-bottom: var(--space-2);
  mat-card-title {
    display: flex !important;
    align-items: center;
  }
}

mat-card-content {
  display: flex;
  gap: var(--space-2);
  mat-form-field {
    width: 100%;
  }
}

table {
  color: var(--color-text);
  &.mat-mdc-table,
  .mat-mdc-header-row,
  .mat-mdc-row {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  // .mat-mdc-header-row {
  // }
}

@media (width <= 425px) {
  .title-section {
    flex-direction: column;
    margin-bottom: var(--space-4);
  }
  mat-card-content {
    flex-direction: column;
  }
}
