<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <div class="logo">
      <mat-icon id="sidenav-icon">shopping_cart_checkout</mat-icon>
      <div class="group-text">
        <h1>Purchase Requests</h1>
        <p>Dashboard</p>
      </div>
    </div>
    <div class="button-routes">
      <button [routerLink]="['/']" type="button" mat-button><mat-icon>task</mat-icon>Tasks</button>
      <button [routerLink]="['/users']" type="button" mat-button><mat-icon>person</mat-icon>Users</button>
      <button [routerLink]="['/settings']" type="button" mat-button><mat-icon>settings</mat-icon>Settings</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div class="hide-on-lg">
        <button type="button" mat-icon-button aria-label="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-icon id="toolbar-icon">shopping_cart_checkout</mat-icon>
        <span>Purchase Requests</span>
      </div>
      <span class="spacer"></span>
      <button (click)="toggleTheme()" id="toolbar-toggle" type="button" mat-stroked-button aria-label="menu">
        <mat-icon>{{ theme() === 'dark' ? 'wb_sunny' : 'bedtime' }}</mat-icon
        >{{ theme() === 'dark' ? 'Light' : 'Dark' }}
      </button>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
